h1 {
  padding-top: 2em !important;
  margin: 2em auto;
  text-align: center;
}

.pi {
  text-align: center;
  font-size: 130%;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

h3 {
  text-align: center;
  padding-top: 2em !important;
}

table {
  border: 0px solid;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 75%;
}

th {
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 120%;
}

.list {
  list-style-type: none;
  text-align: center;
  font-size: 115%;
}

.fa-brands {
  padding: 0px;
  font-size: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background-color: #0c082a;
}

.center {
  margin: 0;
  position: absolute;
  top: -50;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fa:hover {
  opacity: 0.7;
}

.fa-github-alt {
  background: #0c082a;
  color: white;
}
