.navbar {
  background: #503d5c;
}

.navbar-brand {
}

.navbar-nav {
  margin-left: auto;
  margin-right: 1em;
}

.navbar-nav > li {
  margin-right: 2em;
  margin-left: auto;
}

.plotly-chart {
  aspect-ratio: 5/3.5;
  width: 100%;
}

.select {
  background-color: #edaafa;
}

body {
  background-color: #f6e2fa;
}
