.navbar {
  background: rgb(35, 35, 35);
}

.navbar-brand {
  margin-left: 2%;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav > li {
  margin-right: 2em;
}

.plotly-chart {
  aspect-ratio: 4/3;
  width: 100%;
}
