* {
  padding: 0;
}

.identifyer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-item {
  width: 75%;
  margin: auto;
  justify-content: center;
}

.item-1 {
  color: white;
  text-align: center;
}

.item-2 {
  color: white;
  text-align: center;
}

.item-1-header {
  margin: 2em auto;
  font-size: 1.75em !important;
  text-align: center;
}

.item-1-body {
  margin: auto;
}

.item-1-button {
  padding-top: 0.5em;
  padding-bottom: 2em;
  margin: auto;
  height: 1.5em;
  width: max(10em, 20%);
  background-color: #3b365a;
  color: white;
  border: 1px solid white;
}

.item-1-button-2 {
  padding-top: 0.5em;
  padding-bottom: 2em;
  margin: 3em auto;
  height: 1.5em;
  width: max(12em, 35%);
  background-color: #3b365a;
  color: white;
  border: 1px solid white;
  text-align: center;
}

.item-1-button:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: #6f67a9;
}

.item-1-button-2:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: #6f67a9;
}

.identify-info {
  font-size: 1.25em;
  margin-bottom: 2em;
}

.prediction {
  text-align: center;
  font-size: 1.25em;
  color: #fffb;
}

.prediction-top {
  color: rgb(96, 204, 96);
  font-size: 1.25em;
  font-weight: bold;
}

.file-upload-label {
  color: white;
  width: max(7em, 10%);
  margin-top: 2em;
  margin-bottom: 1.5em;
  background-color: #3b365a;
  border: 1px solid white;
  height: 2em;
}

.file-upload-label:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: #6f67a9;
}

.file-upload-label input {
  overflow: hidden;
  width: 0;
}
