.container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10em;
}

.flexbox-item {
   width: 40%;
   height: 20em;
   margin: auto;
   justify-content: center;
}

.item-1 {
    color: white;
    text-align: center;
}

.item-2 {
    color: white;
    text-align: center;
}

.item-1-header {
    margin-bottom: 2em;
    height: 20%;
    width: 100%;
}

.item-1-body {
    margin:auto;
    height: 35%;
    width: 55%;
}

.item-1-button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin:auto;
    height: 1.5em;
    width: 25%;
    background-color:#3b365a;
    color: white;
    border: 1px solid white;
}

.item-1-upload {
    height: 3em;
    width: 12.5%;
    color: white;
}

.item-1-button:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #6f67a9;
}

