* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0c082a;
  color: #fff;
}

.landing-title {
  display: block;
  text-align: center;
  margin: 1em auto 1em auto;
  font-size: 3em;
  padding: 0 !important;
}

.landing-body {
  width: 50%;
  display: block;
  text-align: center;
  margin: 1em auto 0 auto;
  font-size: 2em auto 0 auto;
  color: rgb(255, 255, 255);
  padding: 0 !important;
}

.landing-globe-container {
  display: block;
  margin: auto;
  padding: 0;
  width: 30%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.landing-link {
  text-decoration: none;
  font-size: 1.35em;
  color: rgba(255, 255, 255, 0.667);
  display: grid;
  grid-template-columns: repeat(3,33.33%);
  grid-template-rows: 2.5em;
  justify-content: space-evenly;
  align-content: center;
}

.explore {
  font-size: 1.35em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration:none;
  margin:auto;
  flex: 1;
}

.bird-id {
  font-size: 1.35em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration:none;
  margin:auto;
  flex: 1;
}

.about {
  font-size: 1.35em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration:none;
  margin:auto;
  flex: 1;
}

.desc {
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  flex: 1;
}

.explore:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.bird-id:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.about:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
