* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0c082a;
  color: #fff;
}

.landing-title {
  display: block;
  text-align: center;
  margin: 1em auto 1em auto;
  font-size: 3em;
  padding: 0 !important;
}

.landing-body {
  width: 50%;
  display: block;
  text-align: center;
  margin: 1em auto 0 auto;
  font-size: 2em auto 0 auto;
  color: rgb(255, 255, 255);
  padding: 0 !important;
}

.landing-globe-container {
  display: block;
  margin: auto;
  padding: 0;
  width: 30%;
}

.landing-link {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  /*width: 25%;*/
  text-decoration: none;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.667);
  justify-content: space-evenly;
  /*margin: 2em auto 0 auto;*/
  /*text-align: center;*/
}

.explore {
  flex: 1;
}

.bird-id {
  flex: 1;
}
.about {
  flex: 1;
}

.landing-link:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
