# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/reactapp/node_modules
/reactapp/.pnp
/reactapp.pnp.js

# testing
/reactapp/coverage

# production
/reactapp/build

# misc
/reactapp.DS_Store
/reactapp.env.local
/reactapp.env.development.local
/reactapp.env.test.local
/reactapp.env.production.local

/reactappnpm-debug.log*
/reactappyarn-debug.log*
/reactappyarn-error.log*

.idea

/reactapp/yarn.lock
/reactapp/yarn-error.log
/staticfiles